
.navbar{
    background-color: var(---app-black);
    border-bottom: 2px solid var(--app-yellow);
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

.profile-container {
    position: relative; 
    cursor: pointer;
}


.nav-logo{
    display: flex;
    padding: 0;
    margin-left: 0;
    margin-right: auto;
}

.logo-div{
    justify-content: flex-start;
    display: flex;
    margin: 0
}

.links{
    display: flex;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
   
 
}

.login-btn{
    background-color: var(--app-orange);
    border: none;
    border-radius: 10px;
    color: var(--app-navy-blue);
    width: 40%;
    padding: 10px 20px;
    font-weight:bolder;
}

.pfp{
    border-radius: 50%;
    transform: scale(0.5);
}

.logout-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 15vh;
}

.dropdown {
    position: absolute;
    top: 75%;
    left: 0;
    width: 120%;
    background-color: var(--app-yellow);
    border: 1px solid var(--app-navy-blue);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--app-navy-blue);
    z-index: 10;
}

.dropdown-item{
    padding: 2%;
    border-radius: 10px;
}

.dropdown p {
    margin: 5px 0;
    cursor: pointer;
    padding: 2%;
    transition: all 0.3s;
    
}

.dropdown-item:hover {
    background-color: var(--app-navy-blue);
    color: var(--app-yellow);
    transition: all 0.3s;
    
}