.main{
    width: 100%;
    background-color: var(--app-black);
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deploy-content{
    display: flex;
    min-height: 85vh;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, var(--app-black), var(--app-navy-blue));
}

.letter-showcase{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    width: 70%;
    padding: 5%;
    
}

.letter-showcase h2{
    margin-bottom: 10%;
    font-size: 200%;
}

.letter{
    height: auto;
    width: auto;
    overflow-x: hidden;
    border-radius: 10px;
    border: 2px solid var(--app-yellow)
}

.letter-print{
    padding: 5%;
}

.options{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    width: 30%;
    padding: 5%;
}

.built-in-option{
    height: 15vh;
    margin-bottom: 10%;
    font-size: 125%;
    background-color: var(--app-navy-blue);
    border: 2px solid var(--app-yellow);
    border-radius: 25px;
    transition: all 0.3s;
}

.built-in-option:hover{
    transition: all 0.3s;
    transform: scale(1.1);
    background-color: var(--app-yellow);
    color: var(--app-black);
}

.delete-option{
    height: 7.5vh;
    margin-bottom: 10%;
    font-size: 125%;
    background-color: rgb(255, 53, 53);
    border: 2px solid rgb(255, 53, 53);
    border-radius: 25px;
}

.create-form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 0.3s;
}

.create-form{
    width: 75%;
    min-height: 75%;
    height: auto;
    background-color: var(--app-navy-blue);
    border-radius: 25px;
    border: 2px solid var(--app-yellow);
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.regex-form{
    min-height: 40vh;
    height: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.regex-form input{
    height: 5vh;
    padding: 2%;
}

.regex-form-btns{
    display: flex;
    justify-content: flex-end;
    height: 30%;
    min-height: 7.5vh;
}

.regex-form-btns button{
    width: 30%;
    margin-left: 5%;
    background-color: var(--app-navy-blue);
    color: white;
    border: 2px solid var(--app-orange);
    border-radius: 10px;
    transition: all 0.3s;

}

.regex-form-btns button:hover{
    transition: all 0.3s;
    transform: scale(1.1);
    background-color: var(--app-yellow);
    color: var(--app-black);
}

@media print {
    span {
      font-size: 18px; 
    }
  }