.create-main{
    width: 100%;
    background: linear-gradient(180deg, var(--app-black), var(--app-navy-blue));
    height: 100vh;
}

.main{
    width: 100%;
    height: 85vh;
    flex-direction: row;
    display: flex;
}

.write-letter{
    width: 90%;
    height: 80vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write-letter h2{
    margin-bottom: 10px;;
}

.write-letter textarea{
    height: 100%;
    padding: 5%;
    border: 1px white solid;
  
    margin-left: auto;
    margin-right: auto;
    background-color: var(--app-navy-blue);
}

.write-letter textarea:focus{
    border-color: var(--app-yellow);

}

.letterbox{
    font-family: Arial, Helvetica, sans-serif;
}

.variable-section{
    width: 90%;
    padding: 5%;
    
}

.variable-section h2{
    margin-bottom: 10px;;

}

.variable-adder-sec{
    display: flex;
    flex-direction: row;

}

.variable-adder{
    padding: 2.5%;
    width: 80%;
    background-color: var(--app-navy-blue);
    border: 1px white solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.variable-adder:focus{
    border-color: var(--app-yellow);
}

.variable-add-btn{
    background-color: var(--app-orange);
    border: none;
    color: var(--app-black);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    
}
.variable-set{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 50vh;
}
.variable-set-btn{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50%;
    color: var(--app-black);
    background-color: var(--app-yellow);
    border: none;
    transition: all 0.3s;
    padding: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
}

.variable-set-btn:hover{
    transition: all 0.3s;
    background-color: white;
}

.variable-btn{
    display: flex;
    width: 30%;
    justify-content: center;
    margin-right: 10px;
    text-align: center;
    height: 10vh;

}

.variable-rm-btn{
    width: 25%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50%;
    padding: 3%;
    text-align: center;
    background-color: rgb(240, 75, 75);
    border:none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.create-template-div{
    width: 100%;
    height: 7vh;
    display: flex;
    
}

.create-template-btn{
    width: 30%;
    margin-left: auto;
    margin-right: 0;
    background-color: var(--app-orange);
    color: var(--app-navy-blue);
    border: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.create-template-btn:hover{
    background-color: white;
    transition: all 0.3s;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 0.3s;
}

.name-creation-modal{
    width: 45%;
    height: 45%;
    background-color: var(--app-black); 
    border: 2px solid var(--app-yellow);
    border-radius: 20px;
    padding: 5%;
    display: flex;
    flex-direction: column;
   
}

.name-adder{
    padding: 2.5%;
    width: 100%;
    background-color: var(--app-navy-blue);
    border: 1px white solid;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-div{
    display: flex;
    justify-content: end;
}

.name-save-btn{
    width: 30%;
    padding: 2%;
    background-color: var(--app-orange);
    color: var(--app-navy-blue);
    border: none;
    border-radius: 10px;
    font-size: 100%;
    transition: all 0.3s;
    margin-left: 5%;
}

.name-save-btn:hover{
    transform: scale(1.2);
    background-color: white;
    transition: all 0.3s;
}